@import '../utils/mixin';

.footer{
    background-color: black;
    height: 209px;
    width: 100%;
    top: 100px;
    border-radius: 0px;
    display: flex;
    position: relative;
    justify-content: center;
    @include mobile-only{
        top: 5000px;
    }
    @include tablet-only{
        top:100px;
    }
    .logoKasaFooter{
        height: 39.444419860839844px;
        width: 122px;
        border-radius: 0px;
        display: flex;
        align-self: center;
        position: absolute;
    }
    p{
        color: white;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: center;
        border-radius: nullpx;
        position: absolute;
        top: 64.11%;
        display: flex;
        width: 100%;
        justify-content: center;
        @include mobile-only{
            top: 54,11%;
        }
    }
}