@import "../utils/mixin";

.cardBackground{
    background-color: red;
}
.cardApp{
    .logements{
        flex-wrap: wrap;
        display: flex;
        padding-top: 40px;
        width: 90%;
        margin: auto;
        justify-content: space-evenly;
        margin-top: 40px;
        background: #F7F7F7;
        border-radius: 25px;
        @include tablet-only{
            height: 3900px;
        }
        @include mobile-only{
            background: none;
            padding-top: 15px;
            margin-top: 18px;
        }
        .coverCard{
            display: flex;
            width: 345px;
            height: 345px;
            margin-bottom: 40px;
            position: relative;
            .coverPictures{
                width: 340px;
                height: 340px;
                border-radius: 10px;
            }
            .cardTitle {
                position: absolute;
                left: 12px;
                top: 290px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: bolder;
                color: white;
                font-size: 18.5px;
                line-height: 142.6%;
                display: flex;
                align-items: flex-end;
                //color: #FFFFFF;
            }
        }
    }
    }
    