@import "../utils/mixin";
.slider{
    margin-top: 20px;
    .arrowNext{
        @include arrowNext;
        @include mobile-only{
            top: 204px;
            width: 25px;
            right: 31px;
        }
    }
    .arrowPrev{
        @include arrowPrev;
        @include mobile-only{
            top: 204px;
            width: 25px;
            left: 31px;
        }
    }
    .sliderDiv{
        display: flex;
        justify-content: center;
        .sliderImg{
            width: 90%;
            height: 605px;
            position: relative;
            border-radius: 25px;
            object-fit: cover;
            @include mobile-only{
                height: 270px;
            }
        }
        .numberSlide{
            position: absolute;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 142.6%;
            display: flex;
            align-items: flex-end;
            text-align: center;
            color: #FFFFFF;
            top : 680px;
            @include mobile-only{
                font-size: 0;
            }
        }
    }
}
.sliderSingleImg{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    object-fit: cover;
    .sliderSingleImg{
        width: 90%;
        height: 605px;
        position: relative;
        border-radius: 25px;
        @include mobile-only{
            height: 270px;
        }
    }
}