@import '../utils/mixin';

.section{
    position: relative;
    height: 190px;
    width: 100%;
    justify-content: center;
    display: flex;
    p{
        position: absolute;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 52px;
        line-height: 142.6%;
        width: 85%;
        display: flex;
        align-items: flex-end;    
        justify-content: center;
        color: #FFFFFF;
        @include mobile-only{
            font-size: 40px;
        }
    }
    .maskGroup{
        height: 190px;
        width: 90%;
        .firstBackground{
            background: #000000;
            mix-blend-mode: darken;
            opacity: 0.3;
            height: 190px;
            width: 90%;
            position: absolute;
            border-radius: 25px;
        }
        .background{
            width: 100%;
            height: 190px;
            top: 50px;
            background: #000000;
            mix-blend-mode: darken;
            border-radius: 25px;
        }
    }
    
    
}